body {
    margin: 5px;
    padding: 0;
    background: black;
}

/* Containers */
.vis-container {
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.characters {
    display: flex; 
    align-items: center;
    height: 20%; 
    background-image: url("/CharacterImages/galaxy.jpg");
}
  
.dashboard {
    margin: 10px; 
    display: flex;
    align-items: center;
}

/* Characters */
.character{
    width:13%;
    height:100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.character img {
    height: 100%;
    width: 100%; 
    vertical-align: middle;
    background-image: url("CharacterImages/galaxy.jpg");
}

.character:hover {
    border: solid blue;
    cursor: pointer;
}

/* dashboard items */
.info-card {
    width: 33%; 
    height: 300px; 
    border-radius: 5px;
    background: white;
    display: flex;
}

.info{
    height: 96%;
    width: 100%; 
    margin:5px;
    display: flex; 
}

.name-card{
    /* width: 33%; */
    height: 100%;
    display: inline-block; 
    background: red;
    position: relative;
}

.name-card img{
    height: 90%;
    /* width: 57%;  */
    vertical-align: middle;
    display: flex; 
}

.name {
    text-align: center;
    margin: 5px; 
}

