body {
    margin: 5px;
    padding: 0;
    background: black;
}

/* Containers */
.vis-container {
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.characters {
    display: flex; 
    align-items: center;
    height: 20%; 
    background-image: url("/CharacterImages/galaxy.jpg");
}
  
.dashboard {
    margin: 10px; 
    display: flex;
    align-items: center;
}

/* Characters */
.character{
    width:13%;
    height:100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.character img {
    height: 100%;
    width: 100%; 
    vertical-align: middle;
    background-image: url("CharacterImages/galaxy.jpg");
}

.character:hover {
    border: solid blue;
    cursor: pointer;
}

/* dashboard items */

/* info card  */
.info-card {
    width: 39%; 
    height: 300px; 
    border-radius: 5px;
    background: white;
    display: flex;
}

.info{
    height: 96%;
    width: 100%; 
    margin:5px;
    display: flex; 
}

.name-card{
    border-radius: 5px; ;
    margin-right: 5px; 
    height: 100%;
    display: inline-block; 
    background: lightgray;
    position: relative;
}

.char-stats {
    background: lightgray;
    height: 100%; 
    width: 100%; 
    border-radius: 5px; 
}

.stats-text-area {
    height: 96%;
    width: 96%;
    margin: 5px; 
}

.name-card img{
    height: 90%;
    /* width: 57%;  */
    vertical-align: middle;
    display: flex; 
}

.name {
    text-align: center;
    margin: 5px; 
    font-weight: bold;
}

/* word cloud items */

.wordle {
    width: 39%; 
    height: 300px; 
    margin: 5px;
    border-radius: 5px;
    background: white;
    display: flex;
}

#word_cloud {
    width: 100%;
    height: 300px; 
    border-radius: 15px;
    background: white;
    display: flex;
}


/*line chart*/

.linechart {
    
    background: white;
    display: flex;
}
/* .axis path{
    stroke:black;
    stroke-width:2px ;
}   

.axis line{
    stroke: black;
    stroke-width: 1.5px;
} 

.axis text{
    fill: black;
    font-weight: bold;
    font-size: 14px;
    font-family:"Arial Black", Gadget, sans-serif;
}  */


/*line chart*/
.axis line {
    fill: none;
    stroke: #c40e0e;
    shape-rendering: crispEdges;
  }
  .axis text {
    font-size: 13px;
    fill: #6b6b6b;
  }
  .axis-title {
    font-size: 13px;
    fill: #888;
  }
  .x-axis .domain {
    stroke: #8693a0;
  }
  .y-axis .domain {
    display: none;
  }
.axis path{
    stroke:black;
    stroke-width:2px ;
}   

.axis line{
    stroke: black;
    stroke-width: 1.5px;
} 

.axis text{
    fill: black;
    
    font-size: 14px;
} 

.legend text{
    fill:  black;
}


.chart-area {
    fill: #e9eff5;
  }
  .chart-line {
    fill: none;
    stroke: #517390;
  }