body {
    margin: 5px;
    padding: 0;
}

/* Containers */
.vis-container {
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.top {
    display: flex; 
    align-items: center;
    height: 20%; 
}

.bottom {
    display: block;
    height: 90vh;
    /* background-color: aqua; */
    /* border: solid green; */
}
  
.bottom-row {
    display: flex;
    align-items: center;
}

/* Characters */
.character{
    width:13%;
    height:100%; 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character img {
    height: 100%;
    width: 100%; 
    vertical-align: middle;
}

.character:hover {
    border: solid blue;
    cursor: pointer;
}